.content {
	width: 1200px;
	box-shadow: 1px 1px 10px #bbb;
	padding: 10px ;
	margin: 20px auto;
}

.case_con1 {
	overflow: hidden;
	margin: auto;
	clear: both;
	margin-top: 20px;
}
.case_con1 ul {
	width: 1320px;
}
.case_con1 li {
	box-shadow: 2px 2px 10px #e5e5e5;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-right: 20px;
	padding: 10px 10px 10px 10px;
	background: #fff;
	margin-bottom: 30px;
	position: relative;
	width: 364px;
        height: 320px;
	overflow: hidden;
	float: left;
}
.case_con1 li:hover {
	box-shadow: 2px 2px 10px #ccc;
}
.case_con1 li img {
	width: 365px;
	height: 220px;
}
.case_con1 li p {
	display: block;
	line-height: 20px;
	color: #555;
	font-size: 12px;
	margin-top: 8px;
}
.case_con1 li p a {
	color: #333;
}
.case_con1 li .pic_txt {
	
	color: #555;
	width: 100%;
	float: left;
}
.case_con1 li .pic_txt strong {
	width: 200px;
}
.case_con1 li .pic_txt strong a {
	display: block;
	margin: 0 10px;
	line-height: 45px;
	color: #555;
	font-size: 14px;
}
.case_con1 li:hover .pic_txt strong a {
	color: #183884;
}
.case_con1 li .pic_txthy {
	color: #555;
	width: 100%;
	float: left;
}
.case_con1 li .pic_txthy strong a {
	display: block;
	margin-top:-5px;
	line-height: 35px;
	color: #555;
	font-size: 14px;
}
.case_con1 li:hover .pic_txthy strong a {
	color: #183884;
}

.biaoti{display: block; width:1200px; margin-top:-15px;}
.biaoti a{margin: 0 10px; line-height: 45px;color: #555;font-size: 16px; font-weight:bold; color:#183884;}
.biaoti span a{margin: 0 10px; line-height: 45px;color: #555;font-size: 14px; font-weight:bold; float:right;}
.hangye { width:1200px; float:left;}
