.nav {
	height: 45px;
	clear: both;
	background: #183884;
	width: 100%;
	min-width: 1200px;
}
.nav ul {
	width: 100%;
	display: table;
	max-width: 1200px;
	margin: auto;
}
.nav li {
	position: relative;
	display: table-cell;
	text-align: center;
}
.nav li span a {
	color: #fff;
	line-height: 45px;
	font-size: 14px;
}
.nav li:hover span a {
	background: #081d4d;
}
.nav li.thisclass {
	background: #081d4d;
}
.nav li dl {
	box-shadow: 1px 1px 5px #ddd;
	background: #fff;
	width: 100%;
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 10;
	display: none;
}
.nav li:hover dl {
	display: block;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.nav li dd a {
	border-bottom: 1px dashed #e5e5e5;
	display: block;
	color: #444;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
}
.nav li dd a:hover {
	background: #183884;
	color: #fff;
}
.nav.smaller {
	background: url(../images/tmbg.png);
	position: fixed;
	top: 0;
	z-index: 999;
}
.banner {
	clear: both;
	min-width:1200px;
}